{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' or page.url == '/pt/' %}selected{% endif %}">
            <a href="{{ base_path }}{% if page.url contains '/pt/' %}/pt/{% else %}/{% endif %}">{{ site.title }}</a>
          </li>
          
          {% comment %} Language Switcher Logic {% endcomment %}
          {% if page.url contains '/pt/' %}
            {% assign nav_data = site.data.navigation_pt.main %}
          {% else %}
            {% assign nav_data = site.data.navigation.main %}
          {% endif %}

          {% for link in nav_data %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' and link.url != '/pt/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
